@tailwind base;
@tailwind components;
@tailwind utilities;


/* Navbar Landing Custom CSS - Start  */
@media  (min-width: 320px) and (max-width: 639px) {
    #masuk-btn {
        display: none;
    }

    #daftar-btn {
        display: none;
    }
}

@media (min-width: 1000px) {
    #logo_img {
        width: 250px;
    }
}

@media (min-width: 640px) {
    #hamburger_btn {
        display: none;
    }
    
}

/* Navbar Landing Custom CSS - End */

/* Why Items - Start */
.why_item {
    width: 260px;
    height: 200px;
    border-radius: 15px;
}

#first_why {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.55) 100%),
    lightgray url('../../public/Assets/first.png') no-repeat center / cover;
}

#sec_why {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.55) 100%),
    lightgray url('../../public/Assets/second.png') no-repeat center / cover;
}

#thd_why {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.55) 100%),
    lightgray url('../../public/Assets/third.png') no-repeat center / cover;
}

#fth_why {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.55) 100%),
    lightgray url('../../public/Assets/fourth.png') no-repeat center / cover;
}
/* Why Items- End */

/* Join Us - Start */
.join_us {
    width: 100%;
    height: 400px ;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.55) 100%),
    lightgray url('../../public/Assets/joinbanner.png') no-repeat center / cover;
}
/* Join Us - End */

.join_us_2 {
    width: 100%;
    height: 100vh; 
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.55) 100%),
    lightgray url('../../public/Assets/joinbanner.png') no-repeat center / cover;
}


/* Landing Footer - Start */
.landing_footer {
    width: 100%;
    height: 100px;
}
/* Landing Footer - End */

/* Login Page - Start */
.login_bg, .register_bg {
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.55) 100%),
    lightgray url('../../public/Assets/bg_login.png') no-repeat center / cover;
}

.form_block {
    width: 800px;
    height: 500px;
}

.bg_left {
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.55) 100%),
    lightgray url('../../public/Assets/bg_login2.png') no-repeat center / cover;
}

@media (min-width: 320px) and (max-width: 640px) {
    .left_login {
        display: none;
    }
}


/* Login Page - End */

/* Misc - Loading Start */
.custom-loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:#DFE793;
    -webkit-mask:radial-gradient(circle closest-side at 50% 40%,#0000 94%, #000);
    transform-origin: 50% 40%;
    animation: s5 0.5s infinite linear;
}

@keyframes s5 {
    100% {transform: rotate(1turn)}
}

.form_loader {
    width: 40px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#08080D 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear; 
}

@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
/* Misc - Loading  End*/

/* Beranda Dashboard - Start */
.berandaHeader {
    width: 100%;
    min-height: 250px;
    max-height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.55) 100%),
    lightgray url('../../public/Assets/berandaBanner.png') no-repeat center / cover;
}
/* Beranda Dashboard - End */

/* For Scrolling - Style */
/* ::-webkit-scrollbar {
    width: 12px;
    background-color:#005250;
}

::-webkit-scrollbar-thumb {
    background-color: #DFE793;
    border-radius: 3px;
} */

/* ::-webkit-scrollbar-thumb:hover {
    background-color: #FF7973;
} */

.table_loader {
    width: 40px;
    height: 20px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#08080D 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear; 

}